{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>{{ judul }}</h1>
    </div>
    <div class="row">
        <div id="btnSpinner" class="spinner-border text-primary" role="status" style="display: none;">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>{{ judul }}</h4>
                </div>
                <div class="card-body col-12 col-md-10 mx-auto">
                    <form method="POST" id="form_input" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <!-- Field Tahun -->
                        
                                <div class="form-group">
                                    <label for="{{ form.rencdankelsisa_jadwal.id_for_label }}" hidden></label>
                                    {{ form.rencdankelsisa_jadwal }} 
                                    {% if form.rencdankelsisa_jadwal.errors %}
                                        {% for error in form.rencdankelsisa_jadwal.errors %}
                                            <div class="text-danger">
                                                <p>{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if form.non_field_errors %}
                                    <div class="text-danger">
                                        {% for error in form.non_field_errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                        
                        <!-- Tombol Submit -->
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary float-right" id="btnSubmit">
                                <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                                <span class="sr-only">Loading...</span> {{ tombol }}
                            </button>
                            <a href="{% url 'posting_home' %}" class="btn btn-warning ml-2">Batal</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}












{% block javascript %}
    <script>
        $('#form_input').on('submit', function() {
            $('#btnSubmit').prop('disabled', true); // Menonaktifkan tombol Simpan
            $('#spinner').show(); // Menampilkan spinner
        });
    </script>
{% endblock javascript %}

