{% extends "base.html" %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>{{judul}}</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item">Settings</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">{{judul}}</h2>
        <p class="section-lead">
            {{uraian}}
        </p>

        <div class="row">
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab1}}</h4>
                        <a href="{% url 'posting_list' %}" class="card-cta">{{tab1}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-funnel-dollar"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab2}}</h4>
                        <a href="{% url 'postingsisa_list' %}" class="card-cta">{{tab2}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab3}}</h4>
                        <a href="{% url 'posting_pendidikan_list' %}" class="card-cta">{{tab3}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-funnel-dollar"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab4}}</h4>
                        <a href="{% url 'posting_pendidikan_listsisa' %}" class="card-cta">{{tab4}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab5}}</h4>
                        <a href="{% url 'posting_kesehatan_list' %}" class="card-cta">{{tab5}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-funnel-dollar"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab6}}</h4>
                        <a href="{% url 'posting_kesehatan_listsisa' %}" class="card-cta">{{tab6}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-money-check-alt"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab7}}</h4>
                        <a href="{% url 'posting_pu_list' %}" class="card-cta">{{tab7}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-funnel-dollar"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab8}}</h4>
                        <a href="{% url 'posting_pu_listsisa' %}" class="card-cta">{{tab8}} ... <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}                   