{% extends "base.html" %}
{% load humanize %}
{% load custom_filters %}
{% load static %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>{{judul}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-action mr-3">
                        <a href="{% url "laporan_home" %}" type="button" class="btn btn-warning">Kembali  </a>
                    </div>
                    <h4> {{judul}}</h4>
                    <div class="card-header-action">
                        {% if level != "APIP"%}
                            <a href="#" onclick="openPrintWindow('{% url "laporan_pdf" %}'); return false;" type="button" class="btn btn-primary">{{tombol}}</a>
                            <a href="#" onclick="openPrintWindow('{% url "laporan_sp2d" %}'); return false;" type="button" class="btn btn-primary">{{tombolsp2d}}</a>
                        {%else%}
                            <a href="#" onclick="openPrintWindow('{% url "laporan_apip" %}'); return false;" type="button" class="btn btn-primary">{{tombol}}</a>
                        {%endif%}
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th colspan="3" rowspan="2" style="text-align: center;">Uraian Kegiatan</th>
                                <th colspan="3" style="text-align: center;">Rencana</th>
                                <th colspan="3" style="text-align: center;">Realisasi</th>
                            </tr>
                            <tr>
                                <th style="text-align: center;">Pagu</th>
                                <th style="text-align: center;">Output</th>
                                <th style="text-align: center;">Satuan</th>
                                <th style="text-align: center;">Realisasi</th>
                                <th style="text-align: center;">Output</th>
                                <th style="text-align: center;">Satuan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for prog in prog_data %}
                                <tr>
                                    <td colspan="3"><strong>{{ prog.prog.dankel_prog }}</strong></td>
                                    <td colspan="3" style="text-align: right;"><strong>{{ prog.total_pagu_prog|default:"0.00"|floatformat:2|intcomma }}</strong></td>
                                    <td colspan="3" style="text-align: right;"><strong>{{ prog.total_realisasi_prog|default:"0.00"|floatformat:2|intcomma }}</strong></td>
                                </tr>
                                {% for keg in prog.kegs %}
                                    <tr>
                                        <td></td>
                                        <td colspan="2"><strong>{{ keg.keg.dankelkeg_nama }}</strong></td>
                                        <td colspan="3" style="text-align: right;"><strong>{{ keg.total_pagu_keg|default:"0.00"|floatformat:2|intcomma }}</strong></td>
                                        <td colspan="3" style="text-align: right;"><strong>{{ keg.total_realisasi_keg|default:"0.00"|floatformat:2|intcomma }}</strong></td>
                                    </tr>
                                    {% for sub in keg.subs %}
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>{{ sub.sub.dankelsub_nama }}</td>
                                            <td style="text-align: right;">{{ sub.pagu|default:"0.00"|floatformat:2|intcomma }}</td>
                                            <td style="text-align: center;">{{ sub.output|default:"0"|floatformat:0|intcomma }}</td>
                                            <td style="text-align: left;">{{ sub.sub.dankelsub_satuan }}</td>
                                            <td style="text-align: right;">{{ sub.realisasi.total_lpj|default:"0.00"|floatformat:2|intcomma }}</td>
                                            <td style="text-align: center;">{{ sub.realisasi.total_output|default:"0"|floatformat:0 }}</td>
                                            <td style="text-align: left;">{{ sub.sub.dankelsub_satuan }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" style="text-align: center;">Total Keseluruhan</th>
                                <th colspan="3" style="text-align: right;"><strong>{{ total_pagu_keseluruhan|default:"0.00"|floatformat:2|intcomma }}</strong></th>
                                <th colspan="3" style="text-align: right;"><strong>{{ total_realisasi_keseluruhan|default:"0.00"|floatformat:2|intcomma }}</strong></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %} 

{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css" />
{% endblock style %}

{% block src %}
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
{% endblock src %}

{% block javascript %}
<script src="{% static 'js/datatable.js' %}"></script>

<script>
    $(document).ready(function() {
        {% if messages %}
        {% for message in messages %}
            iziToast.{{ message.tags }}({
                title: '{{ message.tags }}',
                message: '{{ message }}',
                position: 'topRight'
            });
        {% endfor %}
        {% endif %}
    });
</script>

<script>
    function openPrintWindow(url) {
        var printWindow = window.open(url, '_blank', 'width=800,height=600,scrollbars=yes,menubar=no,toolbar=no,location=no,status=no');
        if (printWindow) {
            printWindow.onload = function() {
                printWindow.print();
            };
        }
    }
</script>
{% endblock javascript %}
