asgiref==3.8.1
Django==4.2.11
django-htmx==1.17.3
setuptools==70.0.0
sqlparse==0.5.0
tzdata==2024.1

# py -m pip freeze > requirements.txt

# python manage.py migrate --fake <app_name> zero => menghapus migrate yang sudah tidak terpakai
