{% extends "base.html" %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
<section class="section" >
    <div class="section-header">
        <h1>{{ judul }}</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item">Settings</div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ judul }}</h4>
                        <div class="card-header-action"></div>
                    </div>
                    <div class="card-body  col-12 col-md-10 mx-auto">
                        <form method="get">
                            <div class="form-group">
                                {{ form.realisasidankelsisa_tahun.label_tag }}
                                {{ form.realisasidankelsisa_tahun }}
                            </div>
                            <div class="form-group">
                                {{ form.realisasidankelsisa_dana.label_tag }}
                                {{ form.realisasidankelsisa_dana }}
                            </div>
                            <div class="form-group">
                                {{ form.realisasidankelsisa_tahap.label_tag }}
                                {{ form.realisasidankelsisa_tahap }}
                            </div>
                            <div class="form-group">
                                {{ form.realisasidankelsisa_subopd.label_tag }}
                                {{ form.realisasidankelsisa_subopd }}
                            </div>
                            <a href="{% url 'realisasidankel_home' %}" class="btn btn-warning float-left">Kembali</a>
                            <button type="submit" class="btn btn-primary float-right">Filter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
