{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>{{judul}}</h1>
    </div>
    {% include 'includes/infobox.html' %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <a href="{% url "dausg" %}" type="button" class="btn btn-warning mr-3">Kembali</a>
                    <h4>{{judul}}</h4>
                    <div class="card-header-action">
                        <a href="{% url 'export_dankel' %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-file-excel"></i> <i class="fas fa-file-import"></i> 
                        </a>
                        <a href="{% url 'export_dankel' %}" class="btn btn-danger btn-sm">
                            <i class="fas fa-file-export"></i> <i class="fas fa-file-excel"></i>
                        </a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTambah">{{tombol}}</button>
                    </div>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</section>

    
{% endblock content %}
{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
{% endblock style %}

{% block src %}
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
{% endblock src %}

    <script>
        $(document).ready(function() {
            {% if form.errors %}
                $('#modalTambah').modal('show');
            {% endif %}

            $('#clear').on('click', function() {
                $('#formTambah').find('input[type="text"]').val('');
                $('.text-danger').remove();
                window.location.href = "{% url 'list_dankel' %}";
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            {% if messages %}
            {% for message in messages %}
                iziToast.{{ message.tags }}({
                    title: '{{ message.tags }}',
                    message: '{{ message }}',
                    position: 'topRight'
                });
            {% endfor %}
            {% endif %}
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.select2').select2({
                width: '100%' // Ensure Select2 takes full width of the container
            });
        });
    </script>
    
{% endblock javascript %}

