{% comment %} {% extends "base.html" %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}
{% comment %} <section class="section">
      <div class="section-header">
        <h1>Dashboard</h1>
      </div>
      {% include 'includes/infobox.html' %} {% endcomment %}
    <div class="container">
        <div style="text-align: right; margin-bottom: 20px;">
            
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
    </div>
{% comment %} </section> {% endcomment %}
    
{% comment %} {% endblock content %} {% endcomment %}



