{% extends "base.html" %}

{% block content %}
<section class="section">
      <div class="section-header">
        <h1>Dashboard</h1>
      </div>
      {% include 'includes/infobox.html' %}
    <div class="container">
        <div style="text-align: right; margin-bottom: 20px;">
           {% comment %} <a href="{% url 'tambah_opd' %}" type="button" class="btn btn-primary">Tambah OPD</a> {% endcomment %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTambahOPD">Tambah OPD</button>
        </div>
        
        
        <table class="display" id="tabel1" style="width:100%">
            <thead>
                <tr>
                    <th style="text-align: center;">Aksi</th>
                    <th style="text-align: center;">Kode OPD</th>
                    <th style="text-align: center;">Nama OPD</th>
                </tr>
            </thead>
            <tbody>
                
                {% for opd in opds %}
                    <tr>
                        <td style="text-align: center;">
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalEditOPD" data-opd-id="{{ opd.id }}">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <a href="{% url 'delete_opd' opd.id %}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td style="text-align: left;">{{ opd.kode_opd }}</td>
                        <td style="text-align: left;">{{ opd.nama_opd }}</td>
                    </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
</section>

    <!-- Modal Tambah OPD -->
    <div class="modal fade" id="modalTambahOPD" tabindex="-1" role="dialog" aria-labelledby="modalTambahOPDLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTambahOPDLabel">Tambah OPD Baru</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id=clear>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    
                    <form id="formTambahOPD" method="POST" action="{% url 'simpan_opd' %}">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="text-danger">
                                            <p>{{ error }}</p>
                                        </div>
                                        {% endfor %}
                                {% endif %}
                                
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary float-right" id="toastr-1">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
{% endblock content %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
{% endblock style %}

{% block src %}
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
{% endblock src %}
{% block javascript %}
    <script>
        new DataTable('#tabel1', {
            layout: {
                topStart: {
                    pageLength: {
                        menu: [ 
                            [10, 25, 50, -1],
                            [10, 25, 50, 'All']    
                        ],
                    }
                },
                topEnd: {
                    search: {
                        placeholder: 'cari'
                    }
                },
                bottomEnd: {
                    paging: {
                        numbers: 5
                    }
                    
                }
            }
        });

        
    </script>
    <script>
        $(document).ready(function() {
            {% if form.errors %}
                $('#modalTambahOPD').modal('show');
            {% endif %}

            $('#clear').on('click', function() {
                $('#formTambahOPD').find('input[type="text"]').val('');
                $('.text-danger').remove();
                window.location.href = "{% url 'opd_list' %}";
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            {% if messages %}
            {% for message in messages %}
                iziToast.{{ message.tags }}({
                    title: '{{ message.tags }}',
                    message: '{{ message }}',
                    position: 'topRight'
                });
            {% endfor %}
            {% endif %}
        });
    </script>


    
{% endblock javascript %}

