{% extends "base.html" %}

{% block content %}
<section class="section">
      <div class="section-header">
        <h1>Dashboard</h1>
      </div>
      {% include 'includes/infobox.html' %}
<div class="container">
    <table class="display" id="tabel1" style="width:100%">
        <thead>
            <tr>
                <th>Kode OPD</th>
                <th>Nama OPD</th>
            </tr>
        </thead>
        <tbody>
            
            {% for opd in opds %}
                <tr>
                    <td>{{ opd.kode_opd }}</td>
                    <td>{{ opd.nama_opd }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
</section>
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
{% endblock style %}

{% block src %}
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
{% endblock src %}
{% block javascript %}
    <script>
        new DataTable('#tabel1', {
            layout: {
                topStart: {
                    pageLength: {
                        menu: [ 
                            [10, 25, 50, -1],
                            [10, 25, 50, 'All']    
                        ]
                    }

                    
                },
                topEnd: {
                    search: {
                        placeholder: 'Type search here'
                    }
                },
                bottomEnd: {
                    paging: {
                        numbers: 5
                    }
                    
                }
            }
        });
    </script>

{% endblock javascript %}

