<form method="post" action="{{ link_simpan }}" >
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">{{ judul }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        <div class="form-group">
            {{ form.as_p }}

            <!-- Perbaikan Menampilkan Error -->
            {% for field in form %}
                {% if field.errors %}
                    <div class="text-danger">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="modal-footer bg-whitesmoke br">
        <button type="submit" class="btn btn-primary">{{ btntombol }}</button>
    </div>
</form>
