{% extends "base.html" %}
{% load humanize %}
{% load custom_filters %}
{%load static %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>{{judul}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-action mr-3">
                        <a href="{% url "dankel_home" %}" type="button" class="btn btn-warning">Kembali  </a>
                    </div>
                    <h4> {{judul}}</h4>
                    <div class="card-header-action">
                        <a href="{% url "dankel_simpan" %}" type="button" class="btn btn-primary">{{tombol}}</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="display" id="tabel1" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    <div class="custom-checkbox custom-control">
                                    <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
                                    <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                    </div>
                                </th>
                                <th style="text-align: center;">Aksi</th>
                                {% comment %} <th style="text-align: center;">Program</th> {% endcomment %}
                                <th style="text-align: center;">Sub OPD</th>
                                <th style="text-align: center;">Kegiatan</th>
                                <th style="text-align: center;">Sub Kegiatan</th>
                                <th style="text-align: center;">Pagu Anggaran</th>
                                <th style="text-align: center;">Output</th>
                                <th style="text-align: center;">Satuan</th>
                                <th style="text-align: center;">Keterangan Kegiatan</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for data in data %}
                                <tr>
                                    <td class="p-0 text-center">
                                        <div class="custom-checkbox custom-control">
                                        <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-{{ forloop.counter }}">
                                        <label for="checkbox-{{ forloop.counter }}" class="custom-control-label">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td style="text-align: center;">
                                        <a href="{% url "dankel_update" data.id %}" class="btn btn-info btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a href="{% url "dankel_delete" data.id%}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>{{ data.rencdankel_subopd.sub_nama }}</td>
                                    <td>{{ data.rencdankel_sub.dankelsub_keg.dankelkeg_nama }}</td>
                                    <td>{{ data.rencdankel_sub.dankelsub_nama}}</td>
                                    <td style="text-align: right;">{{ data.rencdankel_pagu|intcomma }}</td>
                                    <td style="text-align: right;">{{ data.rencdankel_output }}</td>
                                    <td>{{ data.rencdankel_sub.dankelsub_satuan }}</td>
                                    <td>{{ data.rencdankel_ket }}</td>
                                    <!-- Menambahkan informasi dari RencDankelsisa -->
                                </tr>
                                {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="5" style="text-align: right;"><strong>Total Keseluruhan:</strong></th>
                                <th style="text-align: left;"><strong>{{ total|intcomma }}</strong></th>
                                
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock content %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.5.0/css/rowGroup.dataTables.css" />
  
{% endblock style %}

{% block src %}
  <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/dataTables.rowGroup.js"></script>
  <script src="https://cdn.datatables.net/rowgroup/1.5.0/js/rowGroup.dataTables.js"></script>
  
{% endblock src %}
{% block javascript %}
<script src="{% static 'js/datatable.js' %}"></script>
    
    <script>
        $(document).ready(function() {
            {% if messages %}
            {% for message in messages %}
                iziToast.{{ message.tags }}({
                    title: '{{ message.tags }}',
                    message: '{{ message }}',
                    position: 'topRight'
                });
            {% endfor %}
            {% endif %}
        });
    </script>
{% endblock javascript %}

