{% extends "base.html" %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>{{judul}}</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item">Settings</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">{{judul}}</h2>
        <p class="section-lead">
            {{uraian}}
        </p>

        <div class="row">
            <div class="col-lg-6">
                <div class="card card-large-icons">
                    <div class="card-icon bg-primary text-white">
                        <i class="fas fa-cog"></i>
                    </div>
                    <div class="card-body">
                        <h4>{{tab1}}</h4>
                        <table class="table table-sm">
                            <tr>
                                <td>Pagu Anggaran</td>
                                <td>:</td>
                                <td style="text-align: right;">{{datapagu|default:"0.00"|floatformat:2|intcomma}}</td>
                            </tr>
                            <tr>
                                <td>Total Rencana </td>
                                <td> :  </td>
                                <td style="text-align: right;">{{datarencana|default:"0.00"|floatformat:2|intcomma}}</td>
                            </tr>
                            <tr>
                                <td>Sisa yang belum direncanakan</td>
                                <td> :  </td>
                                <td style="text-align: right;">{{sisarencana|default:"0.00"|floatformat:2|intcomma}}</td>
                            </tr>
                        </table>
                        <a href="{% url 'rencana_pendidikan_daftar' %}">coba</a>
                        <a href="#" type="button"
                            class="card-cta" 
                            hx-get="{% url 'rencana_pendidikan_filter'  %}" 
                            hx-target="#filter .modal-content"
                            hx-trigger="click" 
                            data-toggle="modal" 
                            data-target="#filter"
                            hx-indicator="#modal-spinner">
                            {{tab1}}....<i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="modalTambahLabel" aria-hidden="true"> 
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock content %}  

{% block javascript %}
<script>
    $(document).ready(function() {
        $('#filter').on('shown.bs.modal', function () {
            $('.select2').select2({
                dropdownParent: $('#filter'),  // Ensures dropdown appears within the modal
                width: '100%'  // Ensures Select2 takes the full width of the container
            });
        });

        
    });
    </script>
{% endblock javascript %}

