{% extends "base.html" %}
{% load humanize %}

{% block content %}
<section class="section">
    <div class="section-header">
        <h1>{{judul}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>{{judul}}</h4>
                    <div class="card-header-action">
                        {% comment %} <button 
                            type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTambah">{{tombol}}
                        </button> {% endcomment %}
                        <button 
                            class="btn btn-primary" 
                            hx-get="{{link_url}}" 
                            hx-target="#filter .modal-content"
                            hx-trigger="click"  
                            data-toggle="modal" 
                            data-target="#filter"
                            hx-indicator="#modal-spinner">
                            {{tombol}}
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="display" id="tabel1" style="width:100%">
                        <thead>
                            <tr>
                                <th style="text-align: center;">Aksi</th>
                                <th style="text-align: center;">Tahun</th>
                                <th style="text-align: center;">OPD</th>
                                <th style="text-align: center;">Jenis Dana</th>
                                <th style="text-align: center;">Nilai</th>
                                <th style="text-align: center;">Sisa Pagu</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for data in datas %}
                                <tr>
                                    <td style="text-align: center;">
                                        <a href="{% url 'update_pagudausg' data.id %}" class="btn btn-info btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a href="{% url 'delete_pagudausg' data.id %}" class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                    <td style="text-align: left;">{{ data.pagudausg_tahun }}</td>
                                    <td style="text-align: left;">{{ data.pagudausg_opd }}</td>
                                    <td style="text-align: left;">{{ data.pagudausg_dana }}</td>
                                    <td style="text-align: right;">{{ data.pagudausg_nilai|default:"0,00"|floatformat:2|intcomma }}</td>
                                    <td style="text-align: right;">{{ data.pagudausg_sisa|default:"0,00"|floatformat:2|intcomma }}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="filter" tabindex="-1" role="dialog" aria-labelledby="modalTambahLabel" aria-hidden="true"> 
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
    
{% endblock content %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css" />
{% endblock style %}

{% block src %}
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
  <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
{% endblock src %}





