<div class="modal-header">
    <h4 class="modal-title" id="filterModalLabel">{{ judul }}</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form method="get">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>
</div>

{% block javascript %}
<script>
    $(document).ready(function() {
        $('#filter').on('shown.bs.modal', function () {
            $('.select2').select2({
                dropdownParent: $('#filter'),  // Ensures dropdown appears within the modal
                width: '100%'  // Ensures Select2 takes the full width of the container
            });
        });

        
    });
    </script>
{% endblock javascript %}